/* DOCUMENTO CSS */

* { margin: 0px; padding: 0px;}

body {
    background-color: #ffffff;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.6;
}

.pfp {
    width: 150px;
    height: 150px;  
    border-radius: 50%;
    border: 2px solid #efeeef;
}

header {
    color: #ffffff;
    text-align: center;
    background-color: #1d4487;
    width: 100%;
    padding: 25px;
    margin: 16px 0px 16px 0px;
}

.cuerpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 1rem;
}

section {
    background-color: #efeeef;
    color: #585859;
    width: 70%;
    padding: 30px;
    margin: 0px auto;
    border-radius: 33px;
    border: 1px solid #1d4487;
}

ul {
    list-style-position: inside;
}

.titulos {
    color: #1d4487;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1em;
}

.titulos h2, h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
}

.titulos i {
    font-size: 2em;
}

.sns a:visited { 
    color: #34548c; 
}

.items {
    display: flex;
    margin-top: 16px;
}

input {
    width: 200px;
    padding: 8px;
}

#btn{
    width: 90px;
}

input::placeholder {
    color: #5e6e8b;
}

footer {
    text-align: center;
    font-size: 10px ;
    margin-bottom: 3em;
    margin-top: 3em;
}


/* MEDIA QUERIES BREAKPOINT 600PX */
@media only screen and (min-width:600px) {
    section {
        width: 60%;
    }
}

/* MEDIA QUERIES BREAKPOINT 992PX */
@media only screen and (min-width:992px) {
     section {
        width: 40%;
    }
}
