/* DOCUMENTO CSS */


body {background-color: rgb(167, 225, 254);}
h1 {color:rgb(0, 4, 255);font-size: 60px;}
h2 {color: magenta;}
h3 {color: rgb(0, 4, 255);}
h4 {color: magenta;}
h5 {color: #ff0000;}
h6 {color: magenta;}
