/* DOCUMENTO CSS */


* {
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 2.6em;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    padding-top: 190px;
    text-align: center;
}

.container {
    width: 100%;
    min-height: 1px;
  /*background-color: plum;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.items {
    width: 100%;
    height: 350px;
    text-align: center;
    background-image: url(https://picsum.photos/id/20/400/300);
    background-size: 100% 100%;
}

/*
.tres {
    align-self: flex-end;
}*/

/* MEDIA QUERIES BREAKPOINT 600PX */
@media only screen and (min-width:600px) {

    .container { 
        flex-direction: row;
        flex-wrap: wrap;
    }

    .items { 
        width: 50%; 
    }
}


/* MEDIA QUERIES BREAKPOINT 992PX */
@media only screen and (min-width:992px) {

    .h3 {
        padding-top: 90px !important;
        font-size: 1.4em;
    }

    .container {
        width: 1100px;
        margin: auto;
        flex-wrap: nowrap;
        margin: 32px auto;
    }

    .items {
        width: 25%;
        margin-left: 16px;
        height: 140px;
    }

}

