@font-face {
    font-family: 'Brewed Coffee';
    src: url('BrewedCoffee.woff2') format('woff2'),
        url('BrewedCoffee.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

